 <!--Canales/-->
<div class="card h-100">
    <img src="{{ canal.Background }}" alt="Imagen del Canal" height="150">
    <div class="card-body">
        <h5 class="card-title">{{ canal.Title }}</h5>
        <p class="card-text">ID: {{ canal.ID }}</p>
        <p class="card-text">Descripcion: {{ canal.Description }}</p>
        <p class="card-text">StreamFormat: {{ canal.StreamFormat }}</p>
        <p class="card-text">Categoria: {{ canal.Category }}</p>
        <img src="{{ canal.Poster }}" alt="Imagen del Canal" height="50">
    </div>
</div>